<%- include('../includes/headerIndex.ejs')%>

<form class="ui form" ancre="f1" method='post'>
  <action ancre="ancre1" href="/add-user" methode="post"/>
  <action ancre="ancre2" href="/update-user" methode="post"/>

  <% if (locals.title) { %>
    <h1><%- locals.title %></h1>
  <% } %>

  <% if (locals.editMessage) { %>
    <div class="ui yellow message"><%- locals.emailMessage %></div>
  <% } %>

  <% if (locals.emailMessage) { %>
    <div class="ui yellow message"><%- locals.emailMessage %></div>
  <% } %>
    
  <% if (locals.passwordMessage) { %>
    <div class="ui red message"><%- locals.passwordMessage %></div>
  <% } %>

  <div class="field">
      <input type="text" name="pseudo" placeholder="Pseudo" value="<%= show.pseudo %>" required>
  </div>

  <div class="field">
    <input type="email" name="email" placeholder="e-mail" value="<%= show.email %>" disabled>
  </div>

  <div class="field">
    <input type="text" name="city" placeholder="City or Zip-Code"
    value="<%= show.city %>">
  </div>

  <div class="field">
    <textarea name="bio" placeholder="Ajouter une description" rows="5" cols="30"><%= show.bio %></textarea>
  </div>
  
  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
        <input type="radio" name="role" value="Utilisateur" tabindex="0" class="hidden">
        <label>Utilisateur</label>
    </div>

    <div class="inline field" id="checkfield">
        <input type="radio" name="role" value="Administrateur" tabindex="0" class="hidden">
      <label>Administrateur</label>
    </div>
  </div>

  <% if (locals.edit) { %>
    <div class="field">
      <input type="password" name="password" placeholder="New password" required>
    </div>

    <div class="field">
      <input type="password" name="passwordConfirm" placeholder="Confirm password"  required>
    </div>

    <button class="ui blue button" action="ancre1" id="addUserButton">Enregistrer l'utilisateur</button>
  <% } %>

  <% if (locals.button) { %>
    <button class="ui button" action="ancre2" id="addUserButton">Modifier l'utilisateur</button>
  <% } %>

</form>

<%- include ('../includes/footerIndex.ejs') %>