<%- include('../includes/header.ejs')%>

<form class="ui form" ancre="f1" method='post' enctype="multipart/form-data">
  <action ancre="ancre1" href="/dog-add" methode="post"/>
  <action ancre="ancre2" href="/dog-update?id=<%= dog.idDog %>" methode="post"/>

  <p>Photo de profil:</p>

  <% if (locals.dog && dog.dogAttachment) { %>
    <div id="uploadFile">
      <img class="ui avatar middle aligned image" src="tmp/<%= dog.dogAttachment %>" id="dogInputAttachment">
      <input type="file" name="image" value="<%= dog.dogAttachment %>" accept=".jpg, .jpeg, .png" onchange="document.getElementById('dogInputAttachment').src = window.URL.createObjectURL(this.files[0])">
    </div>
  <% } else { %>
    <div id="uploadFile">
      <img class="ui avatar middle aligned image" src="img/profil-pic.png" id="dogInputAttachment">
      <input type="file" name="image" accept=".jpg, .jpeg, .png" onchange="document.getElementById('dogInputAttachment').src = window.URL.createObjectURL(this.files[0])">
    </div>
  <% } %>

  <p>Informations:</p>
  
  <div class="field">
    <input type="text" name="name" value="<%= dog.name %>" placeholder="Nom (requis)" minlength="2" maxlength="13" required>
  </div>

  <% if (locals.dog === "none") { %>
  <div class="field">
    <input type="text" name="icad" placeholder="Numéro de puce (requis)" maxlength="11" required>
  </div>

  <div class="field">
    <input type="text" name="breed" placeholder="Race (requis)" required>
  </div>

  <p id="labeldate">Date de naissance (requis):</p>
  <div class="field">
    <input type="date" name="birthday" required>
  </div>

  <p id="labeldate">Sexe:</p>
  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
        <input type="radio" name="sexe" value="1" tabindex="0" class="hidden">
        <label>Mâle</label>
    </div>

    <div class="inline field" id="checkfield">
        <input type="radio" name="sexe" value="0" tabindex="0" class="hidden">
        <label>Femelle</label>
    </div>
  </div>

  <p id="labeldate">Taille (requis):</p>
  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
      <input type="radio" name="size" value="1" tabindex="0" class="hidden">
      <label>Petit</label>
    </div>

    <div class="inline field" id="checkfield">
      <input type="radio" name="size" value="2" tabindex="0" class="hidden">
      <label>Moyen</label>
    </div>

    <div class="inline field" id="checkfield">
      <input type="radio" name="size" value="3" tabindex="0" class="hidden">
      <label>Grand</label>
    </div> 
  </div>

  <p id="labeldate">Stérilisé (requis):</p>

  <div class="inline fields" id="check">
    <div class="inline field" id="checkfield">
      <input type="radio" name="sterile" value="1" tabindex="0" class="hidden">
      <label>Oui</label>
    </div>

    <div class="inline field" id="checkfield">
      <input type="radio" name="sterile" value="0" tabindex="0" class="hidden">
      <label>Non</label>
    </div>
  </div>
  <% } %>  

  <% if (dog.sterile === 1) { %>
    <p id="labeldate">Stérilisé:</p>

    <div class="inline fields" id="check">
      <div class="inline field" id="checkfield">
        <input type="radio" name="sterile" value="<%= dog.sterile %>" tabindex="0" class="hidden" checked="true">
        <label>Oui</label>
      </div>
  
      <div class="inline field" id="checkfield">
        <input type="radio" name="sterile" value="0" tabindex="0" class="hidden">
        <label>Non</label>
      </div>
    </div>
    <% } %> 
    
    <% if (dog.sterile === 0) { %>
      <p id="labeldate">Stérilisé:</p>
  
      <div class="inline fields" id="check">
        <div class="inline field" id="checkfield">
          <input type="radio" name="sterile" value="1" tabindex="0" class="hidden">
          <label>Oui</label>
        </div>
    
        <div class="inline field" id="checkfield">
          <input type="radio" name="sterile" value="<%= dog.sterile %>" tabindex="0" class="hidden" checked="true">
          <label>Non</label>
        </div>
      </div>
    <% } %>  
    
  <p>Description:</p>

  <textarea rows="2" name="description" placeholder="Ajoutez un petit mot sur votre ami"><%= dog.description %></textarea>

  <% if (button === "add") { %>
  <button class="ui button" id="confirmButton" action="ancre1">Ajouter</button>
  <% } %>

  <% if (button === "update") { %>
    <button class="ui button" id="confirmButton" action="ancre2">Confirmer</button>
  <% } %>

</form>

<%- include ('../includes/footer.ejs') %>