<%- include('../includes/header.ejs')%>

<% if (dog.dogAttachment) { %>
<div id="dogAttachment">
    <img class="ui fluid centered image" src="tmp/<%= dog.dogAttachment %>" alt="profil img">
</div>
<% } else { %> 
    <div id="dogAttachment">
        <img class="ui fluid centered image" src="img/cover-pic.png" alt="profil img" style="object-fit: contain;">
    </div>
<% } %>  

<% if (dog.idUser !== user.idUser) { %>
    <% if (marked && marked.isMarked === "marked") { %>
        <form action="/mark?id=<%= dog.idDog %>" method="post" id="like">
            <button type="submit"><i class="heart like icon"></i></button>
        </form>              
    <% } else if (marked === undefined || marked.isMarked === "unMarked") { %> 
        <form action="/mark?id=<%= dog.idDog %>" method="post" id="like">
            <button type="submit"><i class="heart outline like icon"></i></button>
        </form>
    <% } %>
<% } %>   

<div id="dogInfosContainer">
    <div>
        <p id="dogName"><%- dog.name %></p>
        <p id="dogBreed"><%- dog.breed %></p>
        <p id="dogAge"><%- dog.birthday %></p>
    </div>
    <div>
        <p id="dogSex"><%- dog.sexe %></p>
        <p id="dogSize">(<%- dog.size %>)</p>
        <p id="dogSterile"><%- dog.sterile %></p>
    </div>
</div>

<% if (dog.description) { %>
    <hr>

    <div id="dogBio">
        <p><%- dog.description %></p>
    </div>
<% } %>  

<hr>

<h2>Propriétaire</h2>

<% if (owner.userAttachment) { %>
    <div id="userImg">
        <img class="ui bottom aligned avatar image" src="/tmp/<%- owner.userAttachment %>" alt="img-profil">
        <span><%- owner.username %></span>
    </div>
    <% } else { %>  
    <div id="userImg">
        <img class="ui bottom aligned avatar image" src="/img/profil-pic.png" alt="img-profil">
        <span><%- owner.username %></span>
    </div>
    <% } %>  

<% if (dog.idUser === user.idUser) { %>
    <a class="ui button" href="/dog-update?id=<%= dog.idDog %>" id="editDogButton">Modifier compagnon</a>

    <a href="/dog-delete?id=<%= dog.idDog %>" id="deleteButton" onClick="return confirm('Êtes-vous sûr ?')">Supprimer ce compagnon</a>
<% } %>  

<% if (dog.idUser !== user.idUser) { %>
    <a class="ui button" href="" id="editDogButton">Inviter ce compagnon</a>
<% } %>  

<%- include ('../includes/footer.ejs') %>
