<%- include('../includes/header.ejs')%>

<div class="ui small icon input" id="searchbar">
    <input type="text" placeholder="Rechercher">
    <i class="search icon"></i>
</div>

<h3>Nouveaux</h3>
<p><%- locals.user %></p>

    <div class="dogCard Infinite Scroll" id="homeNewList">
        <% newDogs.forEach(function(dog) { %>
          <a href="/dog-profil?id=<%= dog.idDog %>" class="ui card" id="homeNewCard">
                <% if (dog.dogAttachment) { %>
                    <img class="ui tiny image" src="tmp/<%= dog.dogAttachment %>">    
                <% } else { %>  
                        <img class="ui tiny image" src="img/profil-pic.png">    
                <% } %> 
                
                <div class="content">
                    <h4><%= dog.name %></h4>
                    <span class="breed"><%= dog.breed %></span>
                    <span class="date"><%= dog.birthday %></span>
                </div>
            
                <% if (idUser !== dog.idUser) { %>
                    <form action="/mark?id=<%= dog.idDog %>" method="post" id="like">
                        <button type="submit"><i class="heart outline like icon"></i></button>
                    </form>              
                <% } %>  
            </a>
        <% }); %>
    </div>

<%- include ('../includes/footer.ejs') %>