<%- include('../includes/header.ejs')%>

<div class="ui small icon input" id="searchbar">
    <input type="text" placeholder="Rechercher">
    <i class="search icon"></i>
</div>

<h3>Nouveaux</h3>

    <div class="dogCard Infinite Scroll" id="homeNewList">
        <% newDogs.forEach(function(dog) { %>
          <div class="ui card" id="homeNewCard">
                <a href="/dog-profil?id=<%= dog.idDog %>" class="ui middle aligned small image"> 
                    <img src="tmp/<%= dog.dogAttachment %>">    
                </a>
                <div class="content">
                    <h4><%= dog.name %></h4>
                    <span class="breed"><%= dog.breed %></span>
                    <span class="date"><%= dog.birthday %></span>
                </div>
            
                <% if (idUser !== dog.idUser) { %>
                    <form action="/mark?id=<%= dog.idDog %>" method="post">
                        <button type="submit"><i class="heart outline like icon"></i></button>
                    </form>              
                <% } %>  
            </div>
        <% }); %>
    </div>

<%- include ('../includes/footer.ejs') %>