<%- include('../includes/header.ejs')%>

<div class="ui small icon input" id="searchbar">
    <input type="text" placeholder="Rechercher">
    <i class="search icon"></i>
</div>

<h3>Nouveaux</h3>

    <div class="dogCard Infinite Scroll" id="homeNewList">
        <% newDogs.map(function(dog) { %>
            <a href="/dog-profil?id=<%= dog.idDog %>" class="ui card" id="verticalCard">
                <% if (dog.dogAttachment) { %>
                    <img class="ui image" src="tmp/<%= dog.dogAttachment %>">    
                <% } else { %>  
                        <img class="ui image" src="img/profil-pic.png" style="object-fit: contain;">    
                <% } %> 
                
                <div class="content">
                    <h4><%= dog.name %></h4>
                    <span class="breed"><%= dog.breed %></span>
                    <span class="date"><%= dog.birthday %></span>
                </div>

                <!-- <% marked.map(function(mark) { %>  
                    <% if (dog.idDog) { %>
                        <form action="/mark?id=<%= mark.idDog %>" method="post" id="like">
                            <button type="submit"><i class="heart like icon"></i></button>
                        </form>   
                    <% } else { %>  
                        <form action="/mark?id=<%= mark.idDog %>" method="post" id="like">
                            <button type="submit"><i class="heart outline like icon"></i></button>
                        </form>   
                    <% } %> 
                <% }) %> -->
            </a>
        <% }); %>
    </div>

<%- include ('../includes/footer.ejs') %>