<%- include('../includes/header.ejs')%>

<div class="ui input" id="searchbar">
    <input type="text" placeholder="Entrez le nom ou la race d'un compagnon">
</div>

<div class="homeTitles">
    <h3>Autour de moi :</h3>
</div>

<div class="dog card" id="dogsAroundSection">
    <% usersAround.map(function(e) { %>
        <% if (e.city === userCp) { %>
            <% dogsAround.map(function(elem) { %>
                <% if (elem.idUser === e.idUser && elem.idUser !== user.idUser) { %>
                    <div class="ui card">
                        <a href="/dog-profil?id=<%= elem.idDog %>">
                                <% if (elem.dogAttachment) { %>
                                    <img class="ui image" src="tmp/<%= elem.dogAttachment %>">    
                                <% } else { %>  
                                    <img class="ui image" src="img/profil-pic.png" style="object-fit: contain;">    
                                <% } %> 
                                
                                <div class="content">
                                    <h4><%= elem.name %></h4>
                                </div>
                        </a>
                    </div>
                <% } %>
            <% }); %>
        <% } %>
    <% }); %>
</div>

<div class="homeTitles">
    <h3>Recherche :</h3>
</div>

<div class="dog card" id="searchDogsSection">
    <% dogsAround.map(function(elem) { %>
        <% if (elem.idUser !== user.idUser) { %>
            <div class="ui card">
                <a href="/dog-profil?id=<%= elem.idDog %>">
                        <% if (elem.dogAttachment) { %>
                            <img class="ui image" src="tmp/<%= elem.dogAttachment %>">    
                        <% } else { %>  
                            <img class="ui image" src="img/profil-pic.png" style="object-fit: contain;">    
                        <% } %> 
                        
                        <div class="content">
                            <h4><%= elem.name %></h4>
                            <span class="breed"><%= elem.breed %></span>
                        </div>
                </a>
            </div>
        <% } %>
    <% }); %>
</div>


<%- include ('../includes/footer.ejs') %>

<script type="text/javascript"></script>