<%- include('../includes/header.ejs')%>
  
<div id="profilImgContainer">
  <img class="ui centered image" src="tmp/<%= user.cover %>" alt="coverImg" id="coverImg">
  <img class="ui centered circular small image" src="tmp/<%= user.userAttachment %>" id="profilImg" alt="profilImg">
</div>

<div id="profilInfosContainer">
  <p id="userName"><%- user.username %> (<%- user.city %>)</p>
  <p id="userBio"><%- user.bio %></p>

  <a class="ui icon button" href="/user-update" >
    <i class="cog icon"></i>
  </a>
</div>

<hr>

<h2>Mes chiens</h2>

<% if (locals.dogs) { %>
  <div class="dogCard">
    <% dogs.forEach(function(dog) { %>
      <div class="ui card">
        <a href="/dog-profil?id=<%= dog.idDog %>">
  
              <img class="ui small image" src="tmp/<%= dog.dogAttachment %>">
      
              <h3><%= dog.name %></h3>
          
          </a>
      </div>
    <% }); %>
  </div>
<% } %>

<a id="addDogButton" href="/dog-add">Ajouter un chien <i class="plus square icon"></i></a>

<hr>

<h2>Mes favoris</h2>

<%- include ('../includes/footer.ejs') %>