<%- include('../includes/header.ejs')%>
  
<div id="profilImgContainer">
  <% if (user.cover) { %>
    <img class="ui centered image" src="tmp/<%= user.cover %>" alt="coverImg" id="coverImg" onclick="window.open(this.src,'_parent','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+this.width+', height='+this.height);">
  <% } else { %> 
    <img class="ui centered image" src="img/cover-pic.png" alt="coverImg" id="coverImg" style="object-fit: contain;">
  <% } %>  
  
  <% if (user.userAttachment) { %>
    <img class="ui centered circular small image" src="tmp/<%= user.userAttachment %>" id="profilImg" alt="profilImg" onclick="window.open(this.src,'_parent','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, width='+this.width+', height='+this.height);">
  <% } else { %> 
    <img class="ui centered circular small image" src="img/profil-pic.png" id="profilImg" alt="profilImg" style="object-fit: contain;">
  <% } %>  
</div>

<div id="profilInfosContainer">
  <p id="userName"><%- user.username %> (<%- user.city %>)</p>
  <p id="userBio">"<%- user.bio %>"</p>

  <a class="ui icon button" href="/user-update">
    <i class="cog icon"></i>
  </a>
</div>

<hr>

<h2>Mes chiens</h2>

  <div class="dogCard">
    <% if (dogs) { %>
      <% dogs.forEach(function(dog) { %>
        <div class="ui card">
          <a href="/dog-profil?id=<%= dog.idDog %>">
            <% if (dog.dogAttachment) { %>
              <img src="tmp/<%= dog.dogAttachment %>">  
            <% } else { %>
              <img src="img/profil-pic.png">  
            <% } %>  
            <h4><%= dog.name %></h4>
          </a>
        </div>
      <% }); %>
    <% } %>
    <div class="ui card">
      <a id="addDogButton" href="/dog-add">
        <img src="img/add.png"/>
        <h4>Ajouter</h4>
      </a>
    </div>
  </div>

<hr>

<h2>Mes favoris</h2>

<div id="marksProfilDiv">
<% if (marked) { %>
  <% marked.forEach(function(mark) { %>
    <a href="/dog-profil?id=<%= mark.idDog %>" class="ui card" id="verticalCard">
          <% if (mark.dogAttachment) { %>
              <img class="ui image" src="tmp/<%= mark.dogAttachment %>">    
          <% } else { %>  
                  <img class="ui image" src="img/profil-pic.png" style="object-fit: contain">    
          <% } %> 
          
          <div class="content">
              <h4><%= mark.name %></h4>
              <span class="breed"><%= mark.breed %></span>
              <span class="date"><%= mark.birthday %></span>
          </div>
      
          <form action="/mark?id=<%= mark.idDog %>" method="post" id="like">
            <button type="submit" onclick="return confirm('Supprimer des favoris ?')"><i class="heart like icon"></i></button>
          </form>              
      </a>
  <% }); %>
<% } %>
</div>

<%- include ('../includes/footer.ejs') %>