<%- include('../includes/header.ejs')%>
  
<div id="profil-img-container">
  <img src="/img/cover-pic.png" alt="img-cover" id="img-cover-user">
  <img src="/img/profil-pic.png" alt="img-profil" id="img-profil-user">
</div>

<div id="profil-infos-container">
  <p id="user-name"><%- user.username %> (<%- user.city %>)</p>
  <p id="user-bio"><%- user.bio %></p>

  <a class="ui icon button" href="/update-profil" >
    <i class="cog icon"></i>
  </a>
</div>

<hr>

<h2>Mes chiens</h2>

<% if (locals.dogs) { %>
  <div class="dogCard Infinite Scroll">
    <% dogs.forEach(function(dog) { %>
      <div class="ui card">
        <a href="/dog-profil?id=<%= dog.idDog %>">
            <div class="image">
              <img src="/img/profil-pic.png">
            </div>
            <div class="content">
              <h3><%= dog.name %></h3>
            </div>
          </a>
      </div>
    <% }); %>
  </div>
<% } %>

<a id="addDogButton" href="/add-dog">Ajouter un chien <i class="plus square icon"></i></a>

<hr>

<h2>Mes favoris</h2>

<%- include ('../includes/footer.ejs') %>