<%- include('../includes/header.ejs')%>

<form class="ui form" href="/user-update" method='post'>

  <div class="field">
    <input type="text" name="username" placeholder="Pseudo" value="<%= user.username %>"required>
</div>

<div class="field">
  <input type="email" name="email" placeholder="e-mail" value="<%= user.email %>" required>
</div>

<div class="field">
  <input type="text" name="city" placeholder="<%= user.city %>" value="<%= user.city %>">
</div>

<textarea name="bio" placeholder="ajouter une description" rows="2"><%= user.bio %></textarea>

<button class="ui button" type="submit" id="confirmButton">Modifier l'utilisateur</button>
</form>

<a href="/user-delete" id="deleteButton" onClick="return confirm('Êtes-vous sûr ?')">Supprimer mon compte</a>

<%- include ('../includes/footer.ejs') %>