<%- include('../includes/header.ejs')%>

<form class="ui form" href="/user-update" method='post' enctype="multipart/form-data">

<p id="uploadFileLabel">Photo de couverture:</p>
<% if (user.cover) { %>
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="tmp/<%= user.cover %>">
    <input type="file" name="cover" accept=".jpg, .jpeg, .png" id="coverInput">
  </div>
<% } else { %>
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="img/cover-pic.png %>">
    <input type="file" name="cover" accept=".jpg, .jpeg, .png" id="coverInput">
  </div>
<% } %>  

<p id="uploadFileLabel">Photo de profil:</p>
<% if (user.userAttachment) { %>
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="tmp/<%= user.userAttachment %>">
    <input type="file" name="image" accept=".jpg, .jpeg, .png">
  </div>
<% } else { %> 
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="img/profil-pic.png %>">
    <input type="file" name="image" accept=".jpg, .jpeg, .png">
  </div>
<% } %>  

<p>Pseudo:</p>
<div class="field">
    <input type="text" name="username" placeholder="<%= user.username %>" value="<%= user.username %>"required>
</div>

<p>e-mail:</p>
<div class="field">
  <input type="email" name="email" placeholder="<%= user.email %>" value="<%= user.email %>" required>
</div>

<p>Ville ou CP:</p>
<div class="field">
  <input type="text" name="city" placeholder="<%= user.city %>" value="<%= user.city %>">
</div>

<p>bio:</p>
<textarea name="bio" placeholder="ajouter une description" rows="2"><%= user.bio %></textarea>

<button class="ui button" type="submit" id="confirmButton">Modifier l'utilisateur</button>
</form>

<a href="/user-delete" id="deleteButton" onClick="return confirm('Êtes-vous sûr ?')">Supprimer mon compte</a>

<%- include ('../includes/footer.ejs') %>