<%- include('../includes/header.ejs')%>

<form class="ui form" href="/user-update" method='post' enctype="multipart/form-data">

  <% if (locals.message) { %>
    <div class="ui red message"><%- locals.message %></div>
  <% } %>

<!-- images -->
<p id="uploadFileLabel">Photo de couverture:</p>
<% if (user.cover) { %>
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="tmp/<%= user.cover %>" id="coverInputImg">
    <input type="file" name="cover" accept=".jpg, .jpeg, .png" id="coverInput" onchange="document.getElementById('coverInputImg').src = window.URL.createObjectURL(this.files[0])">
  </div>
<% } else { %>
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="img/cover-pic.png" id="coverInputImg">
    <input type="file" name="cover" accept=".jpg, .jpeg, .png" id="coverInput" onchange="document.getElementById('coverInputImg').src = window.URL.createObjectURL(this.files[0])">
  </div>
<% } %>  

<p id="uploadFileLabel">Photo de profil:</p>
<% if (user.userAttachment) { %>
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="tmp/<%= user.userAttachment %>" id="profilInputImg">
    <input type="file" name="image" accept=".jpg, .jpeg, .png" onchange="document.getElementById('profilInputImg').src = window.URL.createObjectURL(this.files[0])">
  </div>
<% } else { %> 
  <div id="uploadFile">
    <img class="ui avatar middle aligned image" src="img/profil-pic.png %>" id="profilInputImg">
    <input type="file" name="image" accept=".jpg, .jpeg, .png" onchange="document.getElementById('profilInputImg').src = window.URL.createObjectURL(this.files[0])">
  </div>
<% } %>  

<p>Pseudo:</p>
<div class="field">
    <input type="text" name="username" placeholder="<%= user.username %>" value="<%= user.username %>" minlength="2" maxlength="13" required>
</div>

<p>e-mail:</p>
<div class="field">
  <input type="email" name="email" placeholder="<%= user.email %>" value="<%= user.email %>" required>
</div>

<p>Confimez l'e-mail:</p>
<div class="field">
  <input type="email" name="emailConfirm" value="<%= user.email %>" required>
</div>

<p>Ville ou CP:</p>
<div class="field">
  <input type="text" name="city" placeholder="<%= user.city %>" value="<%= user.city %>" id="citySearch" autocomplete="off">
  <div id="cityList"></div>
</div>

<p>Bio:</p>
<textarea name="bio" placeholder="ajouter une description" rows="2"><%= user.bio %></textarea>

<button class="ui button" type="submit" id="confirmButton">Modifier mon profil</button>
</form>

<a href="/user-delete" id="deleteButton" onClick="return confirm('Êtes-vous sûr ?')">Supprimer mon compte</a>

<script type="text/javascript" src="citySuggest.js"></script>

<%- include ('../includes/footer.ejs') %>