<%- include('../includes/header.ejs')%>

<form class="ui form" href="/walk-update?id=<%= walkEdit.idWalk %>" method='post' id="createWalkForm">

    <% if (walkEdit) { %>
        <p>Modifier la date et/ou l'heure du rendez-vous:</p>  
        <div id="walkDate">
                <div class="walkDateInput">
                    <label>le</label>
                    <input type="date" name="day" id="day" value="<%= walkEdit.day %>" required/>
                </div>
            
                <div class="walkDateInput">
                    <label>de</label>
                    <input type="time" name="start" id="start" value="<%= walkEdit.start %>" required/>
            
                    <label>à</label>
                    <input type="time" name="end" id="end" value="<%= walkEdit.end %>" required/>
                </div>
            </div>
            
            <p>Modifier le lieu de rendez-vous:</p>   
            <input type="text" name="adress" placeholder="adresse" value="<%= walkEdit.adress %>" required>
            <div id="walkAdressInput">
                <input type="text" name="zip" placeholder="Code Postal" maxlength="5" value="<%= walkEdit.zip %>" required>
                <input type="text" name="city" placeholder="Ville" onchange="select()" value="<%= walkEdit.city %>" required>
            </div>
            
            <p>Modifier la description:</p>
            <textarea rows="3" name="description" placeholder="Ajoutez ici des détails sur la balade" value="<%= walkEdit.description %>"><%= walkEdit.description %></textarea>
            
            <button type="submit" class="ui button" id="confirmButton">Confirmer</button>      

        <% } %>

<script type="text/javascript"><%- include ('../../utils/validWalkEdit.js') %></script>
    
<%- include ('../includes/footer.ejs') %>