<%- include('../includes/header.ejs')%>

<form class="ui form" href="/walk-create" method='post' id="createWalkForm">

    <div id="walkDate">
        <p>Séléctionnez une date:</p>
            <div class="walkDateInput">
                <label>le</label>
                <input type="date" name="day" id="day" required/>
            </div>
        
            <div class="walkDateInput">
                <label>de</label>
                <input type="time" name="start" id="start" required/>
        
                <label>à</label>
                <input type="time" name="end" id="end" required/>
            </div>
        </div>
        
        <p>Ajoutez un lieu de rendez-vous:</p>
        
        <input type="text" name="adress" placeholder="adresse" required>
        <div id="walkAdressInput">
            <input type="text" name="zip" placeholder="Code Postal" maxlength="5" required>
            <input type="text" name="city" placeholder="Ville" onchange="select()" required>
        </div>
        
        <p>Description:</p>
        <textarea rows="3" name="description" placeholder="Ajoutez ici des détails sur la balade"></textarea>
        
        <p>Sélectionner mon/mes compagnons:</p>
        <div id="addDogs">
            <% dogs.forEach(function(dog) { %>
            <input type="checkbox" id="check<%= dog.idDog %>" class="dogInputMatch" name="invited" value="<%= dog.idDog %>"/>
            <label for="check<%= dog.idDog %>"><%= dog.name %><img class="ui avatar image" src="tmp/<%= dog.dogAttachment %>"/></label>
            <% }) %>
        </div>
        
        
        <p>Sélectionnez un compagnon à inviter:</p>
        <div id="addFriend">
        <input type="text" id="search" autocomplete="off" placeholder="Entrez le nom du compagnon"/>
        <div id="matchList"></div>
        </div>
        
        <div id="selectedArea">
            <% if (locals.query) { %>
                <div class="selectedDiv">
                    <button type="button" class="circular ui icon button" onclick= "this.parentNode.parentNode.removeChild(this.parentNode)">
                        <i class="close icon"></i>
                    </button>
                    <img src ="tmp/<%- query.dogAttachment %>" class="ui avatar image" />
                    <span><%- query.name %></span>
                    <input type="hidden" name="invited" class="hiddenInputMatch" value="<%- query.idDog %>" />
                </div>
            <% } %>
        </div>
        
        <button type="submit" class="ui button" id="confirmButton">Confirmer</button>      

</form>

<script type="text/javascript"><%- include ('../../utils/validWalkAdd.js') %></script>

<%- include ('../includes/footer.ejs') %>



