<%- include('../includes/header.ejs')%>

<% if (walk) { %>

<div class="walkContent">
  <img src="tmp/<%= walk.userAttachment %>" class="ui centered image" id="userInvitationimg" />
  <div>
    <h3><%= walk.day %></h3>
    <h4><%= walk.start %> - <%= walk.end %></h4>
  </div>

  <% if (walk.idUser !== user.idUser && check.accept === 2) { %>
    <div class="acceptInvitButton">
      <a href="/walk-accept?id=<%= walk.idWalk %>" class="ui green button">Accepter</a>
      <a href="/walk-declined?id=<%= walk.idWalk %>" class="ui red button">Refuser</a>
    </div>
  <% } %>
  
  <% if (walk.idUser !== user.idUser && check.accept === 1) { %>
    <div class="acceptInvitButton">
      <a href="/walk-declined?id=<%= walk.idWalk %>" class="ui red button" onClick="return confirm('Êtes-vous sûr ?')">Annuler</a>
    </div>
  <% } %>
  
  <% if (walk.idUser === user.idUser) { %>
    <div class="acceptInvitButton">
      <a href="/walk-update?id=<%= walk.idWalk %>" class="ui button" id="updateWalkButton">Modifier</a>
      <a href="/walk-declined?id=<%= walk.idWalk %>" class="ui red button">Supprimer</a>
    </div>
  <% } %>
</div>

<div id="walkInfoContent">
  <h3><%= walk.adress %></h3>
  <h3><%= walk.zip %> - <%= walk.city %></h3>
  <p>"<%= walk.description %>"</p>
  <div class="dogCard">
      <% if (dogs) { %>
        <% dogs.forEach(function(dog) { %>
          <div class="ui card">
            <a href="/dog-profil?id=<%= dog.idDog %>">
              <% if (dog.dogAttachment) { %>
                <img src="tmp/<%= dog.dogAttachment %>">  
              <% } else { %>
                <img src="img/profil-pic.png">  
              <% } %>  
              <h4><%= dog.name %></h4>
            </a>
          </div>
        <% }); %>
      <% } %>
    </div>
  </div>


<% } %>

<%- include ('../includes/footer.ejs') %>
