<%- include('../includes/header.ejs')%>

<form class="ui form" action="/walk-create" method='post' id="createWalkForm">

<div id="walkDate">
<p>Séléctionnez une date:</p>
    <div class="walkDateInput">
        <label>le</label>
        <input type="date" name="day"/>
    </div>

    <div class="walkDateInput">
        <label>de</label>
        <input type="time" name="start"/>

        <label>à</label>
        <input type="time" name="end"/>
    </div>
</div>

<p>Ajoutez un lieu de rendez-vous:</p>

<input type="text" name="adress" placeholder="adresse">
<div id="walkAdressInput">
    <input type="text" name="city" placeholder="Ville">
    <input type="text" name="zip" placeholder="Code Postal" maxlength="5">
</div>

<p>Description:</p>
<textarea rows="3" name="description" placeholder="Ajoutez ici des détails sur la balade"></textarea>

<p>Sélectionnez un compagnon à inviter:</p>
<div id="addFriend">
<input type="text" id="search" autocomplete="off" placeholder="Entrez le nom du compagnon"/>
<div id="matchList"></div>
</div>

<div id="selectedArea">
    <% if (query) { %>
        <div class="selectedDiv">
            <img src ="tmp/<%- query.dogAttachment %>" class="ui avatar image" />
            <span><%- query.name %></span>
            <input type="hidden" name="invited" class="hiddenInputMatch" value="<%- query.idDog %>" />
            <button type="button" class="circular ui icon button" onclick= "this.parentNode.parentNode.removeChild(this.parentNode)">
                <i class="close icon"></i>
            </button>
        </div>
    <% } %>
</div>

<button class="ui button" id="confirmButton" action="ancre2">Confirmer</button>

</form>

<%- include ('../includes/footer.ejs') %>

<script type="text/javascript">

const search = document.getElementById('search');
const matchList = document.getElementById('matchList');
const selectedArea = document.getElementById('selectedArea');
const getSelected = document.getElementsByClassName('hiddenInputMatch');

search.addEventListener('focus', () => searchMarks(search.value));
search.addEventListener('input', () => searchMarks(search.value));

const searchMarks = async searchText => {
    const res = await (<%- JSON.stringify(marks) %>);
    
    let matches = res.filter(marks => {
        const regex = new RegExp(`^${searchText}`, 'gi')
        return marks.name.match(regex)
    })

    outputHtml(matches);
};

const outputHtml = (matches) => {
    if (matches.length > 0) {
        var html = matches.map(match =>
            `
            <div class="ui card" id="verticalCard" class="selectedMatch" value="${match.idDog}" onclick="selectedFriend('${match.dogAttachment}','${match.name}','${match.idDog}')">
                <img class="ui image" src="tmp/${match.dogAttachment}">
                <div class="content">       
                <h4>${match.name}</h4>
                <span class="breed">${match.breed}</span>
                </div>
            </div> 
            `
        ).join(''); 

        matchList.innerHTML = html;
        addMatchTitle()
    };           
}

function addMatchTitle(){
        var title = document.createElement('p')
        matchList.insertBefore(title, matchList.childNodes[0]);
        var titleText = document.createTextNode('Suggestions:')
        title.appendChild(titleText)
}

function preventSelected(){
        for(let i = 0; i = getSelected.length - 1; i++ ){
            console.log(getSelected.value)
        }

}


function selectedFriend(image, name, id) {

    var newMatchDiv = document.createElement('div')
    newMatchDiv.className = "selectedDiv"

    var newMatchImg = document.createElement('img')
    newMatchImg.src = 'tmp/' + image
    newMatchImg.className = 'ui avatar image'
    newMatchDiv.appendChild(newMatchImg)
    selectedArea.appendChild(newMatchDiv)

    var newMatchName = document.createElement('span')
    newMatchDiv.appendChild(newMatchName)
    var name = document.createTextNode(name)
    newMatchName.appendChild(name)

    var newMatchinput = document.createElement('input')
    newMatchinput.type = 'hidden'
    newMatchinput.name = 'invited'
    newMatchinput.className = "hiddenInputMatch"
    newMatchinput.value = id
    newMatchDiv.appendChild(newMatchinput)

    var deleteMatchButton = document.createElement('button')
    deleteMatchButton.type = "button"
    deleteMatchButton.onclick = function(){
        this.parentNode.parentNode.removeChild(this.parentNode)
    }
    deleteMatchButton.className = "circular ui icon button"
    newMatchDiv.appendChild(deleteMatchButton)
    var icoDeleteMatchButton = document.createElement('i')
    icoDeleteMatchButton.className = "close icon"
    deleteMatchButton.appendChild(icoDeleteMatchButton)

    matchList.innerHTML = "";
    preventSelected()
}

</script>